@import 'tailwindcss';

@font-face {
  font-family: 'News Gothic';
  src: url('/News Gothic Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-menu: 'News Gothic', sans-serif;
  --animate-menu: flash 0.2s step-end infinite;
  --animate-heartbeat: heartbeat 0.5s ease-out infinite;
  --animate-starfield: background-scroll 120s linear infinite;

  @keyframes flash {
    0% {
      color: #8200ff;
    }
    50% {
      color: #00ffff;
    }
  }

  @keyframes heartbeat {
    0% {
      scale: 1;
    }
    5% {
      scale: 1.2;
    }
  }

  @keyframes background-scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: calc(var(--starfield-width) * -4)
        calc(var(--starfield-width) * -1);
    }
  }
}

.root {
  isolation: isolate;
}
