@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "News Gothic";
  src: url("/News Gothic Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  /* --font-menu: "Roboto Condensed", sans-serif; */
  --font-menu: "News Gothic", sans-serif;
  --animate-menu: flash 0.2s step-end infinite;

  @keyframes flash {
    0% {
      color: #6314a9;
    }
    50% {
      color: #3ddad2;
    }
  }
}

.root {
  isolation: isolate;
}
