@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'News Gothic';
  src: url('./assets/fonts/News Gothic Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-menu: 'News Gothic', sans-serif;
  --animate-menu: menu-flash 0.2s step-end infinite;
  --animate-heartbeat: heartbeat 0.5s ease-out infinite;
  --animate-starfield: background-scroll 120s linear infinite;
  --animate-splash-screen: splash-screen 5s 1s;
  --animate-start-text: start-text-flash 1s step-end infinite;
  --animate-mask: mask 1s linear infinite;

  @keyframes menu-flash {
    0% {
      color: #8200ff;
    }
    50% {
      color: #00ffff;
    }
  }

  @keyframes start-text-flash {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes heartbeat {
    0% {
      scale: 1;
    }
    5% {
      scale: 1.2;
    }
  }

  @keyframes background-scroll {
    100% {
      background-position:
        calc(var(--bg1) * -4) calc(var(--bg1) * -1),
        calc(var(--bg2) * -4) calc(var(--bg2) * -1),
        calc(var(--bg3) * -4) calc(var(--bg3) * -1);
    }
  }

  @keyframes splash-screen {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.root {
  isolation: isolate;
}

.starfield {
  --bg1: 250px;
  --bg2: 300px;
  --bg3: 350px;
  background-image:
    url('./assets/images/starfield.png'), url('./assets/images/starfield.png'),
    url('./assets/images/starfield.png');
  background-size:
    var(--bg1) var(--bg1),
    var(--bg2) var(--bg2),
    var(--bg3) var(--bg3);
}

.text-stroke {
  -webkit-text-stroke: var(--text-stroke-width)
    color-mix(currentColor 30%, black);
  paint-order: stroke fill;
}

@keyframes mask {
  100% {
    mask-position: right 0px bottom 0px;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: mask 1s linear forwards;
  mask-image: linear-gradient(to right, white 95%, transparent);
  mask-repeat: no-repeat;
  mask-position: right 100vw bottom 0px;
}
